.folder, .file {
  
  color: rgb(0, 0, 0);
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

.folder,.file:hover{
    cursor: pointer;
}



.folder::before, .file::before {
    content: '';
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 5px;
    background-size: cover;
}

.folder::before {
    background-image: url('folder-icon.png');
}

.file::before {
    background-image: url('file-icon.png');
}

.newfolder::after{
    background-image: url('folder-icon.png');
}
.newfolder{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    
}
.newfolder h6{
    font-size: 5px;
    text-align: center;
}